<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/graphs.css" type="text/css">
    <meta charset="ISO-8859-1">
    <title>Graphs</title>
</head>
<body>
    <h1>Graphical Analysis</h1>
    <form action="/home">
        <button type="Submit" class="btnhome">Home</button>
    </form>
    <img src="../static/feature_importance.png" class="gra">
    <img src="../static/IGvsAttr.png" class="gra">
    <img src="../static/AvsAttr.png" class="gra">
    <img src="../static/DvsAttr.png" class="gra">
    <img src="../static/SHPvsAttr.png" class="gra">
    <img src="../static/NPWCvsAttr.png" class="gra">
    <img src="../static/NYCRvsAttr.png" class="gra">
    <img src="../static/OTvsAttr.png" class="gra">
    <img src="../static/JRvsAttr.png" class="gra">
    <img src="../static/NYSPvsAttr.png" class="gra">
    <img src="../static/MSvsAttr.png" class="gra">
</body>
</html>