<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <meta charset="ISO-8859-1">
    <title>Home</title>
</head>
<body>
    <form action="/logout">
        <button type="Submit" class="btnhome">Log Out</button>
    </form>
    <div class="login">
        <div class="login-screen">
            <form action="/view">
                <button type="Submit" class="btn btn-primary btn-large btn-block">View Employee Details</button>
            </form><br>
            <form action="/update">
                <button type="Submit" class="btn btn-primary btn-large btn-block">Update Employee Details</button>
            </form><br>
            <form action="/attrition">
                <button type="Submit" class="btn btn-primary btn-large btn-block">Check For Attrition</button>
            </form>
        </div>
    </div>
</body>
</html>