<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <meta charset="ISO-8859-1">
    <title>Sorry</title>
</head>
<body>
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Sorry</h1>
                <div class="flashes">
                    {% for message in get_flashed_messages()%}
                        {{ message }}
                    {% endfor %}
                </div><br>
                <form action="/logout">
                    <button type="Submit" class="btn btn-primary btn-large btn-block">Login Again</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>