<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css" type="text/css">
    <meta charset="ISO-8859-1">
    <title>Update</title>
</head>
<body>
    <form action="/home">
        <button type="Submit" class="btnhome">Home</button>
    </form>
    <form action="/updateDet">
        <div class="login">
            <div class="login-screen">
                <div class="app-title">
                    <h1>Update Employee Details</h1>
                </div>
                <div class="login-form">
                    <div class="control-group">
                        <input type="number" name="id" placeholder="Employee ID" class="login-field"><br><br>
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="control-group">
                        <span class="custom-dropdown">
                            <select name="parameter" value="">
                                <option value="">Select Parameter</option>
                                <option value="DistanceFromHome">Distance From Home</option>
                                <option value="JobSatisfaction">Job Satisfaction</option>
                                <option value="MonthlyIncome">Monthly Income</option>
                                <option value="OverTime">Over Time</option>
                                <option value="PercentSalaryHike">Percent Salary Hike</option>
                                <option value="YearsInCurrentRole">Years In Current Role</option>
                                <option value="YearsSinceLastPromotion">Years Since Last Promotion</option>
                            </select><br><br>
                        </span>
                        <input type="number" name="paramvalue" placeholder="value" class="login-field"><br><br>
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="control-group">
                        <span class="custom-dropdown">
                            <select name="JobRole" value="">
                                <option value="">Job Role</option>
                                <option value="Sales Executive">Sales Executive</option>
                                <option value="Research Scientist">Research Scientist</option>
                                <option value="Laboratory Technician">Laboratory Technician</option>
                                <option value="Manufacturing Director">Manufacturing Director</option>
                                <option value="Healthcare Representative">Healthcare Representative</option>
                                <option value="Manager">Manager</option>
                                <option value="Sales Representative">Sales Representative</option>
                                <option value="Research Director">Research Director</option>
                                <option value="Human Resources">Human Resources</option>
                            </select><br><br>
                        </span>
                    </div>
                    <div class="control-group">
                        <span class="custom-dropdown">
                            <select name="MaritalStatus" value="">
                                <option value="">Marital Status</option>
                                <option value="Married">Married</option>
                                <option value="Single">Single</option>
                                <option value="Divorced">Divorced</option>
                            </select><br><br>
                        </span>
                    </div>
                    <button type="Submit" class="btn btn-primary btn-large btn-block">Submit</button><br>
                    <button type="reset" class="btn btn-primary btn-large btn-block">Clear</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>